.tab-pane{
    border: 1px solid rgba($color: #000000, $alpha: .15);
    border-top:0px;
    padding:20px;
    
}

.carousel-cards{
    margin-top: 35px;

    .carousel-inner .carousel-item {
        &-end.active,
        &-next{
            transform: translateX(25%);
        }
        &-start.active,
        &-prev{
            transform: translateX(-25%);
        }


        &.active,
        &-next,
        &-prev,
        &-end
        {
        display:flex;
    }
    &-end,
    &-start{
        transform: translateX(0);
    }
}
}



.course-img{
    border: 1px solid rgba($color: #000000, $alpha: .15);
    
    & > img {
        width:100%}
}

.course-body{
    padding :0.3rem;
    
.course-title{
    font-size:1.1rem;
    font-weight: 500;
}
}

